.curseclient
.mixin.out
crash-reports
journeymap
knownkeys
local
logs
minecraftinstance.json
resourcepacks
saves
usercache.json
usernamecache.json
reauth.toml
natives
config.json
manifest.json
knowkeys.txt
options.txt